<div id="container">

  <p id="notice"><%= notice %></p>

  <div id='map_filter_container'>
    <div class="filter_containers">
      <div id='you' class="filter_buttons"></div>
      <div class="filter_texts">
        <p>You</p>
      </div>
    </div><!-- 1 -->
    <div class="filter_containers">
      <div id='friends' class="filter_buttons"></div>
      <div class="filter_texts">
        <p>Friends</p>
      </div>
    </div> <!-- 2 -->
    <div class="filter_containers">
      <div id='everyone' class="filter_buttons"></div>
      <div class="filter_texts">
        <p>Everyone</p>
      </div>
    </div> <!-- 3 -->

  </div> <!-- #map_filter_container -->

  <div id="map_container">
  </div> <!-- #map_container -->

</div>


<% @everyone_images.each do |image| %>
  <div class="everyone_image" data-caption="<%= image.caption %>" data-image="<%= image.url %>" data-lat="<%= image.lat %>" data-long="<%= image.long %>"></div>
<% end %>

<% if current_user %>

  <% @you_images.each do |image| %>
    <div class="you_image" data-caption="<%= image.caption %>" data-image="<%= image.url %>" data-lat="<%= image.lat %>" data-long="<%= image.long %>"></div>
  <% end %>

  <% @friends_images.each do |image| %>
    <div class="friends_image" data-caption="<%= image.caption %>" data-image="<%= image.url %>" data-lat="<% image.lat %>" data-long="<% image.long %>"></div>
  <% end %>

<% end %>