<%= image_tag 'modal_close.png', :id=> 'close_modal' %>
<%= form_for @user, root_path, :remote => true do |f| %>
  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions" id='signup_submit'>
    <%= submit_tag "Submit"%>
  </div>
<% end %>

<script>
  $('#close_modal, .modal_overlay').click(function() {
    alert('closing')
    $('.model_box').empty();
    $('.modal_wrap').fadeOut('fast');
  });
  $('#signup_submit').click(function(){
    $('.model_box').empty();
    $('.modal_wrap').fadeOut('fast');
  })
</script>
