
<div id = "main_user_profile_div">
  <div id = "user_profile_pic"><%= image_tag @user.get_image %></div>

  <div id = "user_basic_info">
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p> Username: <%= @user.username %> </p>
  </div>

  <div id = "user_following">
    Your Followers: <% @user.followerUsers.each do |follower| %>
  <!--     possibly make each of these names links to the
   -->
      <%= follower.first_name %> <%= follower.last_name %> </br>
    <% end %>
  </div>

  <div id = "user_followers">
    Who you're following: <% @user.followingUsers.each do |following| %>
      <%= following.first_name %> <%= following.last_name %> </br>
    <% end %>
  </div>

  <p> Your Insights | Friends' Insights | All Insights </p>
</div>