<div id = "main_user_profile_div">

  <div id="user_cover_pic">
  </div>

  <div id="left_column">
    <div id = "user_profile_pic"><%#= image_tag @user.get_image %></div>
    <div id="username_show">
      <p> <%= @user.username.upcase %> </p>
    </div>
  </div>

  <div id = "right_column">

    <div id="edit_buttons">
      <div id="edit_cover_pic">
        <p>Edit Cover Photo</p>
      </div>
      <div id="edit_profile_pic">
        <p>Edit Profile Photo</p>
      </div>
    </div>

    <div id="following">
      <% if current_user.followerUsers.count > 0 %>
        <div id = "user_following">
          <p class="following_title">Your Followers:</p>
          <% @user.followerUsers.each do |follower| %>
            <%= follower.username %>
          <% end %>
        </div> <!--user_following-->
      <% end %>

      <% if current_user.followingUsers.count > 0 %>
        <div id="user_followers">
          <p class="following_title">Who you're following: </p>
          <% @user.followingUsers.each do |following| %>
            <p><%= following.username %></p>
          <% end %>
        </div> <!-- user_followers-->
      <% end %>

      <div id= "who_to_follow">
        <p class="following_title">Suggested People to Follow:</p>
        <% @users.each do |user| %>
          <div id= "suggested_follow_names">
            <div class="person_to_follow" id="<%= user.id %>">
              <div id="profile_pic_follow">
                <%= image_tag user.profile_pic %>
              </div>
              <div id="follow_link">
                <p><%= link_to user.username, follow_url(user.id), :remote => true  %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div> <!-- who_to_follow-->

    </div> <!--following -->

    <div id="adds">

        <div id="add_image_form">
          <%= form_for(@image, :url => new_image_url, :html_options => {:multipart => true}) do |f| %>
        </div>
        <div "add_image_title">
          <%= f.label "Any New Insights?" %>
          Click below to take or upload image.
        </div>
        <div id="add_image_field">
            <%= f.file_field :url %>
            <%= f.submit "Add Your Image" %>
          <% end %>
        </div>


    </div> <!--adds-->

  </div> <!-- right_column -->






 <!--  <div id= "bottom_links"> Your Insights | Friends' Insights | All Insights </div> -->


</div> <!-- main_user_profile_div-->



