<%= image_tag 'modal_close.png', :id=> 'close_modal_big' %>

<div id="edit_image_main">

  <div id="edit_image_arrow_div">
    <a href="profile/<%= current_user.id %>?from=modal" data-remote="true">
      <%= image_tag("arrow_left.png", :id => "arrow_left") %>
    </a>
  </div>

  <div id="edit_image_left">
    <div id= "showing_image">
      <%#= image_tag @image.url %>
    </div>
    <div id="add_image_forms">

      <div id="add_image_forms_title">
        <p>to an Image</p>
      </div>

      <div id="add_image_button">
        <p>add image</p>
      </div>
    </div> <!-- add_image_forms -->
  </div> <!-- edit_image_left -->

  <div id="edit_image_right">

    <div id="right_title">
      <p>Connect</p>
    </div>

    <div id="photo_editing_text">
      <p>an Experience...<p>
      <%= form_tag(update_image_url) do |f| %>
        <% hidden_field_tag :image_id, @image.id %>

        <%= text_area_tag :caption  %>
        <%# if @image.lat.nil? %>
          <%#= label_tag "Where was this taken?" %>

        <%# end %>
        <%= submit_tag "Save Your Contribution", :id => "photo_submit" %>
      <% end %>
    </div> <!-- photo_editing_text -->

  </div> <!-- edit_image_right -->

</div> <!-- edit_image_main -->










