<div id= "background">

  <div id= "editing_image">
    <%= image_tag @image.url %>
  </div>


  **Figure out how to update edited image** </br>


  <div class ="photo_editing_text">
    <%= form_tag(update_image_url) do |f| %>
      <%= hidden_field_tag :image_id, @image.id %>
      <%= label_tag "This is where" %> I realized...
      <%= text_field_tag :caption %>
      <%= submit_tag "Save Your Contribution" %>
    <% end %>
    </br>

    LOCATION: Option to select where on the map it was taken IF Franky's doesnt work.
  </div>

</div>

