!!!
%html
  %head
    %title
      This is where I....

    %link{:href => "http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.css", :rel => "stylesheet"}/
    %link{:href => "http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.ie.css", :rel => "stylesheet"}/

    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css", :rel => "stylesheet"}/
    %link{:href => "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css", :rel => "stylesheet"}/

    / = stylesheet_link_tag    "/smoothDivScroll.css"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  #navbar
    #nav_title
      %p=link_to 'This is where...', root_path
    #nav_about
      %p=link_to 'About', static_pages_about_path, :remote => true
    - if current_user
      #nav_search
        = form_tag search_path, class:"navbar-form pull-right" do
          = text_field_tag :search, nil, placeholder:"Search"
          = submit_tag :Go
      #nav_logout
        %p=link_to 'Logout', :logout
    - else
      #nav_signup
        %p=link_to 'Sign Up', new_user_path, :remote => true
      #nav_login
        %p=link_to 'Login', :login, :remote => true
      #nav_twitter
        %p=link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter)

  #modal
    .modal_wrap
      .modal_overlay
      .vertical_offset
        .modal_box

  = yield


  / = render "aboutmodal"

  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}


  %script{:src => "http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.js"}
  %script{:src => "//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js"}
